#contact_modal {
    display: none;
    justify-content: center;

}
a{
    text-decoration: none;
}

.photograph-header {
    background-color: #FAFAFA;
    height: 18.75em;
    margin: 20px 100px;
}
.photograph-body{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0 100px;
}

.contact_button {
    font-size: 20px;
    font-weight: bold;
    color: white;
    padding: 11px;
    width: 170px;
    height: 70px;
    border: none;
    background-color: #901C1C;
    border-radius: 5px;
    cursor: pointer;
    order: 2;
}

.modal {
    position: absolute;
    top: 2em;
    border-radius: 5px;
    background-color: #DB8876;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 35px;
}

.modal header {
    justify-content: space-between;
    width: 100%;
}

.modal header img {
    position: relative;
    bottom: 2.5em;
    cursor: pointer;
}

.modal header h2, .modal header h3 {
    margin: 0;
    font-size: 3.5em;
    font-weight: normal;
    text-align: justify;
}


form {
    margin-top: 3em;
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
}

form label {
    color: #312E2E;
    font-size: 36px;
}

form div {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: self-start;
    margin-bottom: 26px;
}

form input, textarea{
    font-size: xx-large;
    height: 2em;
    width: 100%;
    border: none;
    border-radius: 5px;
}
textarea{
    height: 4.5em; 
}
.photograph-header .header-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 18.75em;
    margin-left: 2em;
    margin-right: 2em;
}
.photograph-header .photographer-label{
    order: 1;
}
.photograph-header .photographer-label h1{
    color: #D3573C;
    margin-top: 0;
    margin-bottom: 0;
    font-weight: 400;
    font-size: 4em;
}
.photograph-header .photographer-label .country{
    margin-bottom: 1em;
    color: #901C1C;
    font-size: 2em;
    font-weight: 500;
}
.photograph-header .photographer-label .tagline{
    font-size: 1.2em;
    color: #525252;
}
.photograph-header img{
    height: 14em;
    width: 14em;
    margin-left: 5em;
    object-fit: cover;
    border-radius: 50%;
    order: 3;
}
.photograph-body .card{
    margin: 2em;
}
.photograph-body .thumbnail{
    object-fit: cover;
    height: 300px;
    width: 350px;
    left: 0px;
    top: 0px;
    border-radius: 5px;    
}
.photograph-body{
    color: #901C1C;
}
.caption{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 31px;
    left: 0px;
    top: 310px;
}
.caption span{
    min-width: 40px;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.header-content .price{
    position: fixed;
    display: flex;
    right: 0;
    bottom: 0;
    height: 60px;
    width: 376px;
    border-radius: 5px;
    background: #DB8876;
    justify-content: center;
    align-items: center;
    font-weight: 500;
    font-size: 24px;
}
.lightbox{
    display: none;
    position: fixed;
    top: 0;
    padding-top: 5em;
    background-color: white;
    width: 100%;
    height: 100%;
}
.carousel{
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    height: 100%;
}
.carousel img{
    height: 100%;
    width: 100%;
    object-fit: scale-down;
    margin: auto;
}

.container{
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: fit-content;
    height: 80%;
    margin: auto;
    color: #901C1C;
}
.controls:hover{
    cursor: pointer;
}
.controls-close{
    position: relative;
    bottom: 17.5em;
    right: 2em;
}


