#contact_modal {
    display: none;
    justify-content: center;

}
a{
    text-decoration: none;
}
.hide{
    display: none;
}

.photograph-header {
    background-color: #FAFAFA;
    height: 18.75em;
    margin: 20px 100px;
}
.photograph-body{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0 100px;
}

.contact_button{
    font-size: 18px;
    font-weight: bold;
    color: white;
    width: 170px;
    height: 70px;
    border: none;
    background-color: #901C1C;
    border-radius: 5px;
    cursor: pointer;
    order: 2;
}
option{
    border-radius: 10px;
}
.modal {
    position: fixed;
    top: 2em;
    border-radius: 5px;
    background-color: #DB8876;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 35px;
}

.modal header {
    justify-content: space-between;
    width: 100%;
}

.modal header img {
    position: relative;
    bottom: 2.5em;
    cursor: pointer;
}

.modal header h2, .modal header h3 {
    margin: 0;
    font-size: 3em;
    font-weight: normal;
    text-align: justify;
}
form {
    margin-top: 3em;
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
}
.filter-form  {
    display: flex;
    flex-direction: row;
    align-items: center;
    max-width: 300px;
    justify-content: space-between;
    font-size: 0.6em;
    margin: 20px 130px;
}
#filter-select{
    display: flex;
    flex-direction: row-reverse;
    padding: 11px;
}
#filter-select span:nth-child(1){
    font-size: 1.2em;
    margin-right: 1.6em;
    margin-top: 1em;
}
#filter-select span{
    position: absolute;
    margin-top: 1.5em;
    z-index: 1;
} 

#filter-container{
    position: relative;
    left: 0.65em;
    transform: translateY(50%);
    min-width: 193px;
    padding-top: 1em;
    padding-bottom: 1em;
}

.filter-item{
    text-decoration: none;
    color: #fff;
    margin: auto;
}

form label {
    color: #312E2E;
    font-size: 2em;
}

form div {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: self-start;
    margin-bottom: 26px;
}

form input, textarea{
    font-size: x-large;
    height: 2em;
    width: 100%;
    border: none;
    border-radius: 5px;
}
textarea{
    height: 4.5em; 
}
.photograph-header .header-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 18.75em;
    margin-left: 2em;
    margin-right: 2em;
}
.photograph-header .photographer-label{
    order: 1;
}
.photograph-header .photographer-label h1{
    color: #D3573C;
    margin-top: 0;
    margin-bottom: 0;
    font-weight: 400;
    font-size: 4em;
}
.photograph-header .photographer-label .country{
    margin-bottom: 1em;
    color: #901C1C;
    font-size: 2em;
    font-weight: 500;
}
.photograph-header .photographer-label .tagline{
    font-size: 1.2em;
    color: #525252;
}
.photograph-header img{
    height: 14em;
    width: 14em;
    margin-left: 5em;
    object-fit: cover;
    border-radius: 50%;
    order: 3;
}
.photograph-body .card{
    margin: 2em;
}
.photograph-body .thumbnail{
    object-fit: cover;
    height: 300px;
    width: 350px;
    left: 0px;
    top: 0px;
    border-radius: 5px;    
}
.photograph-body{
    color: #901C1C;
}
.caption{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 31px;
    left: 0px;
    top: 310px;
}
.caption span{
    min-width: 40px;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.tot-likes-icon{
    font-size: 0.9em
}
.price-block{
    position: fixed;
    display: flex;
    right: 0;
    bottom: 0;
    height: 60px;
    width: 376px;
    border-radius: 5px;
    background: #DB8876;
    justify-content: space-around;
    align-items: center;
    font-weight: 500;
    font-size: 24px;
}
.photograph-likes i{
    margin-left: 0.5em;
}
#lightbox{
    display: none;
    position: fixed;
    top: 0;
    padding-top: 2em;
    padding-bottom: 3em;
    background-color: white;
    width: 100%;
    height: 90%;
    z-index: 10;
}
.carousel{
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
    width: 1050px;
    height: 90%;
}
.carousel img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    margin: auto;
}

.container{
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: fit-content;
    height: 100%;
    margin: auto;
    color: #901C1C;
}
.controls:hover{
    cursor: pointer;
}
.controls-close{
    position: relative;
    bottom: 18em;
    right: 2em;
}


